.header-color {
  background: white;
  background: -webkit-linear-gradient(to right);
}

.landing-grid {
  background: #000000;
}

.main-header {
  margin-bottom: "5em";
}

.main-img {
  position: relative;
  top: 0;
  left: 0;
  height: 1000px;
}
/* https://cdn.vox-cdn.com/thumbor/o4J8B8ssJI6GCxph8wBcIFdeuTg=/0x0:4584x3056/1520x0/filters:focal(0x0:4584x3056):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/8654949/chickfila_spicy_sandwich.jpg */

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  text-align: center;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.social-links {
  align-content: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
  display: inline-block;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 2px;
}

.about-text {
  text-align: center;
}

.projects-grid {
  display: flex;
}

.container {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

/* resume page */
.resume-right-col {
  background: #27221f;
  color: white;
}
